.html {
    height: 100%;
}

.body {
    background-color: grey;
    margin: 0;
    height: 100%;
    font: 16px / 1em sans-serif;
}

%sample-border {
    margin: 1em;
    padding: .5em;
    border-width: .1em;
    border-style: solid;
    border-color: black;
}

%center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    @extend %center-flex;
    @extend %sample-border;
    background-color: darkgrey;
}

.game-container {
    @extend %center-flex;
    @extend %sample-border;
    background-color: darkgrey;    
}

.player-box {
    @extend %center-flex;
    flex-direction: column;
    @extend %sample-border;
    background-color: lightgrey;
}

.player-header,
.player-hand,
.player-options {
    @extend %center-flex;
    @extend %sample-border;
    background-color: white;    
}

.playing-card {
    margin: 1em;
}

.player-option {
  margin: .5em;
}